*~
.*.sw[op]
*.py[co]
.idea
*.asv

autogen_srv

.catkin_tools/
build/
devel/
logs/

nbproject/
.vscode/

.catkin_workspace
patrolling_ws/src/CMakeLists.txt
mapping_ws/src/CMakeLists.txt

V-REP_PRO_EDU_V3_2_2_64_Linux.tar.gz
